{% include base_path %}
{% assign pub = include.pub | default: post %}
{% assign target_url = pub.projecturl | default: pub.paperurl | default: pub.url %}
{% assign pub_title = pub.title | strip_html | strip_newlines %}

<tr class="publication-entry">
  <td class="publication-entry__image" align="center">
    {% if pub.teaser %}
      <img src="{% if pub.teaser contains '://' %}{{ pub.teaser }}{% else %}{{ pub.teaser | prepend: base_path }}{% endif %}" alt="dise">
    {% endif %}
  </td>
  <td class="publication-entry__content" valign="center">
    <span class="publication-entry__title">{{ pub_title }}</span>
    <br>
    {% if pub.authors_html %}
      {{ pub.authors_html }}
    {% elsif pub.authors %}
      {{ pub.authors }}
    {% endif %}
    <br>
    {% if pub.venue_html %}
      {{ pub.venue_html }}
    {% elsif pub.venue %}
      <em>{{ pub.venue }}</em>
    {% endif %}
    <br>
    {% if pub.links %}
      {% for link in pub.links %}
        [<a href="{% if link.url contains '://' %}{{ link.url }}{% else %}{{ link.url | prepend: base_path }}{% endif %}" target="_blank">{{ link.label }}</a>]{% unless forloop.last %} {% endunless %}
      {% endfor %}
      <br>
    {% endif %}
    {% if pub.excerpt %}
      <p> {{ pub.excerpt | strip_html | strip_newlines }}</p>
    {% endif %}
  </td>
</tr>
